<div>
  <nx-small-stage>
    <h1 nxHeadline="section">Text Analyzer</h1>
  </nx-small-stage>

  <form [formGroup]="formGroup" class="nx-margin-top-s">
    <div nxLayout="grid">
      <div nxRow>
        <div nxCol="12">
          <h2 nxHeadline="subsection-small" class="nx-margin-top-2m nx-margin-bottom-s">Analyze any text</h2>
        </div>
      </div>
      <div nxRow>
        <div nxCol="12">
          <nx-formfield label="Paste you text here">
            <textarea nxInput type="text" formControlName="textArea"></textarea>
            <nx-error nxFormfieldError><strong>Please note:</strong> this field is required!</nx-error>
          </nx-formfield>
        </div>
      </div>
      <div nxRow>
        <div nxCol="12">
          <nx-checkbox class="nx-margin-bottom-s" formControlName="offline">
            Offline, toggle between
            <a nxPlainButton (click)="openHelpDialog()">online and offline mode</a>
          </nx-checkbox>
          <nx-checkbox class="nx-margin-bottom-s" formControlName="vowels">
            Vowels, search for vowels or consonants
          </nx-checkbox>

          <button nxButton type="submit" (click)="submit()" [disabled]="formGroup.invalid"
                  class="nx-margin-top-s">Analyze
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="nx-margin-top-2xl" [hidden]="hideAnalysis">
    <app-text-analyzer-result [analyzerResult]="analyzerResult"></app-text-analyzer-result>
  </div>

  <footer nx-footer>
    <nx-footer-copyright> &copy; litIT</nx-footer-copyright>
  </footer>

  <ng-template #helpTextTemplate>
    <div nxModalContent>
      <h3 nxHeadline="subsection-medium" class="nx-margin-bottom-3m">Online / Offline Mode</h3>

      <!-- p class="nx-margin-bottom-s nx-font-weight-bold">Online / Offline Mode</p -->
      <p class="nx-margin-bottom-m">
        Offline: analyzes your text within the browser.
      </p>
      <p class="nx-margin-bottom-m">
        Online: sends your text to the server, analyzes the text there and returns the analysis.
      </p>
    </div>
  </ng-template>
</div>

<!-- Copyright 2025 litIt -->
